.broadcast-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.broadcast-loading__box {
  background: #f0b6ae;
  color: #4c426c;
  font-weight: bold;
  padding: 40px;
  border-radius: 20px;
}
