.image-map-broadcast {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.image-map-broadcast__options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 20px;
  margin: 20px 0 ;
}

.image-map-broadcast__options > div:first-child {
  margin-right: 10px;
}

.image-map-broadcast__options__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ff6b76;
  border-radius: 20px;
  width: 250px;
  height: 130px;
  color: #ff6b76;
  cursor: pointer;
}

.image-map-broadcast__options__item__single {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0b6ae;
  border: 2px solid #ff6b76;
  margin-top: 5px;
  width: 65px;
  height: 65px;
  font-size: 30px;
  pointer-events: none;
}

.image-map-broadcast__options__item__multiple {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background: #f0b6ae;
  border: 2px solid #ff6b76;
  margin-top: 5px;
  width: 65px;
  height: 65px;
  font-size: 20px;
  pointer-events: none;
}

.image-map-broadcast__options__item__multiple > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.image-map-broadcast__options__item__multiple > div:first-child {
  border-right: 2px solid #ff6b76;
  border-bottom: 2px solid #ff6b76;
}

.image-map-broadcast__options__item__multiple > div:nth-child(2) {
  border-bottom: 2px solid #ff6b76;
}

.image-map-broadcast__options__item__multiple > div:nth-child(3) {
  border-right: 2px solid #ff6b76;
}

.image-map-broadcast__options__item.--selected {
  background: #fad2cd;
}

.image-map-broadcast__product-groups {
  display: flex;
  flex-direction: column;
  background: #f0b6ae;
  margin: 0 20px;
  margin-bottom: 20px;
  padding: 20px 25px;
  border-radius: 20px;
}

.image-map-broadcast__product-groups__title,
.image-map-broadcast__product-groups__bottom__title {
  color: #4f436d;
}

.image-map-broadcast__product-groups__top {
  display: flex;
  margin: 10px 0px;
}

.image-map-broadcast__product-groups__top__button {
  margin-left: 40px;
}

.image-map-broadcast__product-groups__top__button button,
.image-map-broadcast__none-select-product-groups__button > button {
  background: #ff6b76 !important;
  color: white !important;
}

.image-map-broadcast__product-groups__divider {
  border-top: 2px solid white;
}

.image-map-broadcast__product-groups__bottom {
  margin-top: 10px;
}

.image-map-broadcast__product-groups__bottom__product-groups {
  display: flex;
  overflow-y: hidden;
  margin: 10px 0;
}

.image-map-broadcast__product-groups__bottom__product-groups::-webkit-scrollbar {
  display: none;
}

.image-map-broadcast__product-groups__bottom__product-groups > * {
  width: 100%;
  margin-right: 10px;
}

.image-map-broadcast__product-groups__bottom__product-groups
  .product-box
  .product-box__image {
  width: 150px;
}

.image-map-broadcast__none-select-product-groups {
  display: flex;
  flex-direction: column;
  background: #f0b6ae;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px 25px;
  border-radius: 20px;
}

.image-map-broadcast__none-select-product-groups__bottom {
  display: flex;
  margin-top: 10px;
}

.image-map-broadcast__none-select-product-groups__bottom__image-container {
  border: 2px solid #facdc8;
  border-radius: 10px;
}

.image-map-broadcast__none-select-product-groups__bottom__image-container__top {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  background: white;
}

.image-map-broadcast__none-select-product-groups__bottom__image-container__bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff6b76;
  background: #facdc8;
  padding-top: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.image-map-broadcast__none-select-product-groups__button {
  margin-left: 40px;
}
