.order-list__title {
  text-align: center;
  font-size: 17px;
  margin-top: 10px;
  font-weight: bold;
  color: #4c426c;
}

.order-list__tabs {
  width: 100%;
  overflow: hidden;
  color: #4c426c;
}

.order-list__lists {
  overflow-x: scroll;
}

.order-list__lists::-webkit-scrollbar {
  display: none;
  width: 0px !important;
  background: transparent;
}

.order-list__tabs ul {
  width: max-content;
  padding: 0 20px 0 0;
  display: flex;
  /* align-items: center; */
  align-items: flex-start;
  list-style-type: none;
  justify-content: space-evenly;
}

.order-list__tabs ul li {
  color: #4c426c;
  margin-left: 20px;
}

.order-list__list-container {
  /* background: #f0b6ae; */
  /* margin: 0 10px; */
  padding: 0 10px;
  /* border-radius: 20px; */
  width: 100%;
}
.order-list__list-subcontainer {
  background: #f0b6ae;
  /* margin: 0 10px; */
  padding: 10px;
  border-radius: 20px;
}

.order-list__list-subcontainer > div {
  margin-bottom: 20px;
}

.order-list__list-container__summary {
  text-decoration: underline;
  cursor: pointer;
  text-align: right;
  font-weight: bold;
}

.order-list__list-container__summary a {
  color: #4c426c;
  font-size: 0.9rem;
}

.order-list__list-container__filtered {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4c426c;
}

.order-list__list-container__filtered > div {
  margin-bottom: 5px;
}

.order-list__list-container__filtered__title {
  font-size: 17px;
  font-weight: bold;
}
