.product-group {
  margin-bottom: 70px;
}
.product-group__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-group__title {
  margin: 10px;
  font-weight: 600;
}

.product-group__input {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}
.product-group__input .ui.input > input {
  text-align: left;
}

.product-group__input .input,
.product-group__uploader,
.product-group__divider,
.product-group__items {
  width: 90%;
}

.product-group__divider__text {
  color: #6f6f6f;
  font-size: 12px;
}

.product-group__items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #f0b6ae;
  border-radius: 20px;
  padding: 10px 0;
  margin: 10px;
}

.product-group__items .selectable {
  padding: 0;
}

.product-group__items .selectable-card {
  border: none;
  margin: 0;
  width: 45%;
  margin-bottom: 10px;
}

.product-group__items .selectable-card .selectable {
  width: 100%;
  border: none;
}

.product-group__items .selectable-card .selectable .product-box {
  width: 100%;
}

.product-group__items .selectable-card .selectable.selected {
  border-radius: 4px;
  background: none;
}

.product-group__items .selectable-card .selectable.selected .check {
  visibility: visible;
}

.product-group__items .selectable .check {
  position: absolute;
  top: 15%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  border: 4px solid #7FA7C4;
  background: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  font-size: 20px;
  color: white;
}
