.select-broadcast__broadcast-selection,
.select-broadcast__histories {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f0b6ae;
  margin: 20px 10px;
  border-radius: 20px;
  padding: 20px 10px;
}

.select-broadcast__histories__title {
  font-size: 17px;
  margin-bottom: 5px;
  font-weight: 300;
  color: #4c426c
}

.select-broadcast__broadcast-selection__title {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  color: #4c426c
}

.select-broadcast__broadcast-selection__title > div:first-child {
  font-size: 17px;
  text-align: center;
  margin-bottom: 10px;
}

.select-broadcast__broadcast-selection__options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 10px;
}

.select-broadcast__broadcast-selection__options > * {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff6b76;
  border-radius: 20px;
  width: 130px;
  height: 130px;
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.select-broadcast__broadcast-selection__options__catalog__button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.select-broadcast__broadcast-selection__options__catalog__button
  > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffefed;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  color: #ff6b76;
  margin-right: 10px;
  padding: 15px;
  font-size: 25px;
}

.select-broadcast__broadcast-selection__options__catalog__button
  > div:last-child {
  font-weight: lighter;
}

.select-broadcast__histories__each-container {
  display: flex;
  flex-direction: column;
  background: #ffefed;
  padding: 15px 10px;
  border-radius: 20px;
  width: 95%;
  color: #4c426c;
  font-size: 12px !important;
  margin-top: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.select-broadcast__histories__each-container__top {
  display: flex;
  margin-bottom: 10px;
  font-weight: 300;
  color: #4c426c
}

.select-broadcast__histories__each-container__top__property {
  display: flex;
  flex-direction: column;
}

.select-broadcast__histories__each-container__bottom {
  display: flex;
  justify-content: center;
}

.select-broadcast__histories__each-container__bottom > button {
  font-size: 12px !important;
  background: #ff6b76 !important;
  color: white !important;
  font-weight: lighter !important;
  padding-top: 10px !important;
  border-radius: 20px !important;
}

.select-broadcast__histories__each-container__top__left {
  margin: 0px 40px;
}