.warehouse__products {
  display: flex;
  flex-wrap: wrap;
  background: #f0b6ae;
  margin: 10px 15px;
  padding: 5px;
  border-radius: 20px;
}

.warehouse__products > div {
  width: 47%;
  margin: 5px;
}

.warehouse__products__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto !important
}

.warehouse__products__empty__description {
  width: 200px;
  color: white;
  font-weight: bold;
  margin: 10px;
  text-align: center;
}

.warehouse__products__empty__add-product {
  font-size: 50px;
  color: white;
  background: #ff6b76;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.warehouse__products__empty__add-product span {
  position: relative;
  top: -3px;
  font-size: 50px;
}
