.add-button-with-text__items {
  display: flex;
  justify-content: center;
  background: #ffefed;
  border-radius: 10px;
  padding: 15px 0;
  align-items: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.add-button-with-text__items > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  color: #ff5500;
  font-size: 32px;
}

.add-button-with-text__items > div:last-child {
  position: relative;
  top: 2px;
  color: #414141;
  font-weight: bold;
}
