.bottom-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  background: white;
  padding: 12px 0;
  width: 100%;
}

.bottom-bar__back-button {
  border: 2px solid #ff6b76;
  padding: 10px 15px;
  border-radius: 15px;
  margin: 0 15px;
  display: flex;
}

.bottom-bar__button {
  background: #ff6b76;
  color: white;
  border-radius: 15px;
  padding: 10px 15px;
  margin-right: 15px;
  margin-left: 0px;
  flex: 1;
  text-align: center;
  border: none;
}

.bottom-bar__button.--disabled {
  background: gray;
}