.close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 10;
}

.clock-modal_bottom-bar{
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 15px 50px 15px;
}

.clock-modal_submit-btn {
  color: #ff6b76;
  cursor: pointer;
  font-weight: 900;
}