.color-picker {
  width: 60px;
  border: 2px solid #8d81b4;
  display: flex;
  flex-flow: column;
  align-items: center;
  border-radius: 4px;
  margin-top: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.color-picker__add {
  border: 1px solid #8d81b4;
  display: flex;
  justify-content: center;
  color: #8d81b4;
  padding: 5px 10px;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.color-picker__title {
  border: 2px solid #8d81b4;
  background: #8d81b4;
  width: 100%;
  color: white;
  text-align: center;
  flex: 1
}

.color-picker__selected {
  padding: 5px 10px;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

.sketch-picker {
  width: auto !important;
}
