.draft-product-properties {
  background: white;
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 10px;
}

.draft-product-properties__actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: 600;
}

.draft-product-properties__actions div:last-child {
  color: #7fa7c4;
}

.draft-product-properties__actions__name {
  display: flex;
  align-items: center;
}

.draft-product-properties__actions__name div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c43f18;
  color: white;
  font-size: 23px;
  border: 2px solid #707070;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.draft-product-properties__actions__name div:last-child {
  color: #6f6f6f;
  outline: none;
}

.draft-product-properties__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.draft-product-properties__items > div {
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #6f6f6f;
  font-weight: 300;
  padding: 7px 20px;
}

.draft-product-properties__items > div:last-child {
  display: flex;
  align-content: center;
}

.draft-product-properties__items > div {
  outline: none;
}
