.floating-button-action {
  position: fixed;
  right: 15px;
  bottom: 15px;
}

.floating-button-action__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ff6b76;
  padding: 15px 13px;
  cursor: pointer;
  width: 50px;
  box-shadow: 6px 3px 11px -4px rgba(0, 0, 0, 0.5);
  transition: transform 300ms;
}

.floating-button-action__circle.--rotate {
  transform: rotate(45deg);
}

.floating-button-action__circle > span {
  font-size: 50px;
  color: white;
}

.floating-button-action__other {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 186px;
  height: 180px;
  border-radius: 50%;
  z-index: -1;
  pointer-events: none;
}

.floating-button-action__blur__container::before {
  background: inherit;
}

.floating-button-action__blur-bg {
  z-index: -1;
  width: 200px;
  height: 200px;
  border-radius: 200px 0 0 0;
  transition: background 300ms;
}

.floating-button-action__blur-bg.--rotate {
  background-color: rgba(255, 255, 255, 0.85);
}

.floating-button-action__other > div:nth-child(2) {
  position: absolute;
  right: 0;
  top: 130px;
  transition: transform 200ms ease-out;
}

.floating-button-action__other > div.--rotate:nth-child(2) {
  transform: translateY(-100px);
}

.floating-button-action__other > div:nth-child(3) {
  position: absolute;
  right: 0;
  top: 130px;
  transition: transform 200ms ease-out;
}

.floating-button-action__other > div.--rotate:nth-child(3) {
  transform: translate(-60px, -60px);
}

.floating-button-action__other > div:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
  transition: transform 200ms ease-out;
}

.floating-button-action__other > div.--rotate:last-child {
  transform: translateX(-100px);
}

.floating-button-action__other__circle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ff6b76;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 10px;
  color: white;
  text-align: center;
  pointer-events: all;
}

.floating-button-action__other__circle a {
  color: white !important;
}
