.image-uploader__upload-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    left: 0;
    bottom: 0;
    transform: translateY(100vh);
    transition: transform 300ms;
    z-index: 2;
  }

  .image-uploader__upload-menu.--slide {
    transform: translateY(0);
  }
  
  .image-uploader__upload-menu > button {
    margin-bottom: 10px !important;
    font-weight: 300 !important;
    background: #ff6b76 !important;
    color: white !important;
  }
  