.list-items {
  margin-bottom: 10px;
}

.list-items__title-edit {
  display: flex;
  justify-content: space-between;
  color: #6f6f6f;
  font-weight: 600;
}

.list-items__edit-button {
  cursor: pointer;
}

.list-items__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.list-items__items > * {
  margin-bottom: 5px;
}

.list-items__items .list-items__button {
  background: none;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 0 20px;
  padding-top: 10px;
  padding-bottom: 9px;
  position: relative;
  top: -3px;
  font-weight: 300;
}

.list-items__items .list-items__button > span:first-child {
  margin-right: 5px;
}

.list-items__upload {
  display: flex;
}

.list_items__left-top {
  cursor: pointer;
}

.list-items__save {
  color: lightblue;
}

.list-items__items__draft {
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #6f6f6f;
  font-weight: 300;
  padding: 7px 20px;
}

.list-items__items__draft:focus {
  outline: none;
}
