.product-box {
  width: 45%;
  border-radius: 4px;
}
.product-box__image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 130px;
  background-size: cover;
  background-repeat: no-repeat;
}

.product-box__description {
  height: 150px;
  display: flex;
  flex-direction: column;
}

.product-box__description__details {
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  padding: 0 10px;
  background: white;
}


.product-box__description__details__header {
  white-space: nowrap;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: 14px;
  font-weight: 600;
}

.product-box__description__details__prize {
  width: 50%;
  text-align: right;
}

.product-box__description__details__type {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.product-box__description__button {
  display: flex;
  flex-direction: row;
  padding: 5px;
  align-items: center;
  justify-content: space-around;
  background: white;
}

.product-box__description__button img {
  width: 30px;
  height: 30px;
}

.product-box__description__button button {
  width: 100%;
  background: white !important;
  color: #ff6b76 !important;
  border: 1px solid #ff6b76 !important;
  font-weight: lighter !important;
  font-size: 10px !important;
  padding: 12px 15px !important;
  border-radius: 10px !important;
}

.product-box__description__details__circles {
  display: flex;
  position: relative;
  top: 5px;
  justify-content: center;
}

.product-box__description__details__circle {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}