.product-group-item {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.product-group-item__top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px 0;
  border-radius: 10px;
  background: #ffefed;
  font-weight: bold;
}

.product-group-item__top.--none-border-radius {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.product-group-item__top__center {
  flex: 0.75
}

.product-group-item__top__center > div:first-child {
  margin-right: 20px;
}

.product-group-item__top__right__dropdown-icon {
  border: solid #ff6b76;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.product-group-item__top__right__dropdown-icon.--arrow-up {
  transform: rotate(-135deg);
}

.product-group-item__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffefed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

.product-group-item__bottom__products {
  display: flex;
  align-items: center;
  overflow-y: hidden;
  white-space: nowrap;
  overflow: auto;
  width: 100%;
  margin-bottom: 15px;
}

.product-group-item__bottom__products::-webkit-scrollbar {
  display: none;
}

.product-group-item__bottom__products > * {
  width: 100%;
  margin-right: 10px;
}

.product-group-item__bottom__products .product-box .product-box__image {
  width: 150px;
}

.product-group-item__bottom__actions {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.product-group-item__bottom__actions__delete {
  background: white;
  border: 1px solid #f0b6ae;
  border-radius: 10px;
  padding: 10px 30px;
}

.product-group-item__bottom__actions__delete img {
 position: relative;
 top: 3px
}

.product-group-item__bottom__actions__edit {
  display: flex;
  align-items: center;
  background: #ff6b76;
  color: white;
  border-radius: 10px;
  padding: 10px 40px;
}


.product-group-item__top__left input[type="radio"]:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background: white;
  content: "";
  display: inline-block;
  visibility: visible;
  box-shadow: 1px 3px 6px 0px rgba(0,0,0,0.2);
}

.product-group-item__top__left input[type="radio"]:checked:after {
  width: 20px;
  height: 20px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background: #ff6b76;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 3px solid white;
}