.selectable-card {
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
  margin-right: 5px;
  color: #6f6f6f;
  font-weight: 300;
}

.selectable-card.--selected {
  border-color: #ff6b76;
}

.selectable-card .selectable {
  position: relative;
  border: 2px solid transparent;
  padding: 5px 20px;
}

.selectable-card .selectable.selected .content .title {
  color: #6f6f6f;
}

.content {
  color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.close {
  position: absolute;
  top: -13px;
  right: -10px;
  border: 1px solid red;
  color: red;
  border-radius: 50%;
  z-index: 1;
  padding: 0px 7px;
  font-size: 10px;
  background: white;
  cursor: pointer;
}

.content .title {
  font-size: 16px;
  font-weight: lighter;
  color: #6f6f6f;
}
