.sticky-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background: #aaa8a8;
  font-size: 20px;
  padding: 12px 0;
  z-index: 1;
}

.sticky-box__title {
  color: #1a1a1a;
  font-size: 14px;
  margin-right: 15px;
}

.sticky-box__close {
  color: white;
  font-size: 20px;
  margin-right: 15px;
}

.sticky-box__back{
  color: white;
  font-size: 20px;
  margin-left: 15px;
  font-weight: bold;
}

.sticky-box__back.--hide{
  visibility: hidden;
}

