@font-face {
  font-family: 'Sukhumvit';
  src: url('./fonts/SukhumvitSet-Text.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Sukhumvit';
  src: url('./fonts/SukhumvitSet-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Sukhumvit';
  src: url('./fonts/SukhumvitSet-Light.ttf') format('truetype');
  font-weight: lighter;
}

@font-face {
  font-family: 'Sukhumvit';
  src: url("./fonts/SukhumvitSet-SemiBold.ttf") format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Sukhumvit';
  src: url("./fonts/SukhumvitSet-Medium.ttf") format('truetype');
  font-weight: 300;
}

* {
  font-family: "Sukhumvit", sans-serif !important;
}

#root {
  height: 100%;
}

body {
  background: #ffefed;
}
